<mat-card class="container-card">
  <mat-card-content>
    <img mat-card-image [src]="image" width="250px" height="200px">
    <mat-card-title *ngIf="title">
      {{ title }}
    </mat-card-title>
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
