<app-header
  title="Where in the world?"
  subtitle="Dark Mode">
</app-header>
<mat-card class="my-alternate-theme">
   My Alternate Themes:
   <button mat-raised-button color="primary">Primary</button>
   <button mat-raised-button color="accent">Accent</button>
   <button mat-raised-button color="warn">Warning</button>
</mat-card>
<div class="container">
  <!-- <app-country-list></app-country-list> -->
  <app-country-detail></app-country-detail>
</div>
