.some-page-wrapper {
  display: flex;
  margin: 15px;
  // background-color: red;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.orange-column {
  // // background-color: orange;
  height: 100px;
}

.blue-column {
  // background-color: blue;
  height: 100px;
}

.green-column {
  // background-color: green;
  height: 100px;
}
