<div *ngIf="this.country.length" class='some-page-wrapper'>
  <div class='row'>
    <div class='column'>
      <div class='green-column'>
        <img [src]="country[0].flag">
      </div>
    </div>
    <div class='column'>
      <div class='blue-column'>
        <h2>{{ country[0].name }}</h2>
        <p>Native Name:
          {{ country[0].nativeName }}
        </p>
        <p>Population:
          {{ country[0].population }}
        </p>
        <p>Region:
          {{ country[0].region }}
        </p>
        <p>Sub Region:
          {{ country[0].subregion }}
        </p>
        <p>Capital:
          {{ country[0].capital }}
        </p>
      </div>
    </div>
    <div class='column'>
      <div class='orange-column'>
        <p>Top Level Domain:
          {{ country[0].topLevelDomain }}
        </p>
        <p>Currencies:
          {{ country[0].currencies }}
        </p>
        <p>Languages:
          {{ country[0].languages[0].name }},
          {{ country[0].languages[1].name }},
          {{ country[0].languages[2].name }}
        </p>
      </div>
    </div>
  </div>
</div>
