<mat-toolbar class="box">
  <mat-toolbar-row>
    <span> {{ title }} </span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example home icon">
      bedtime
    </mat-icon>
    {{ subtitle }}
  </mat-toolbar-row>
</mat-toolbar>
