.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.box {
  background-color: #fff;
  color: #000;
  box-shadow: 1px 1px 1px rgb(206, 205, 205);
  -webkit-box-shadow: 1px 1px 1px rgb(206, 205, 205);
  -moz-box-shadow: 1px 1px 1px rgb(206, 205, 205);
}
