<div class="flex-container">
  <app-card
    *ngFor="let country of countries"
    [image]="country.flag"
    [title]="country.name">
    <p>Population: {{ country.population }}</p>
    <p>Region: {{ country.region }}</p>
    <p>Capital: {{ country.capital }}</p>
  </app-card>
</div>
