/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body .mat-list-item {
  margin-bottom: 10px;
}

.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
}

.card-item {
  padding: 3px 3px 3px 3px;
}
